@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}



.hidden__menu__container {
    display: none;
    position: fixed;
    
    height: 100%;
    width: 350px;
    z-index: 11;
    padding: 0px 10px;

    background-color: #fff;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.3);

    font-family: 'Playfair Display';
    font-size: 22px;
}

.hidden__menu__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.logo__and__close {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #EBC3DF;
}

.close__btn__container {
    display: flex;
    align-items: center;

    width: 20px;
    height: 50px;
}

#close-menu-btn {
    width: 100%;
    cursor: pointer;

}

.hidden__menu__list {
    display: flex;
    flex-direction: column;

}

.hidden__menu__list a {
    display: block;
    
    cursor: pointer;
    padding: 0px 0px 0px 10px;
    line-height: 40px;
}

.hidden__menu__list a:hover {
    background-color: #f1f1f1;

}

.menu__opened {
    overflow-y: hidden;
}

/* Header  */

.header__container {
    width: 100%;
    border-bottom: 1px solid #EBC3DF;

}

.header__content {
    display: flex;
    height: 80px;
    width: 100%;
    max-width: 1200px;
    
    margin: 0px auto;
    padding: 0px 10px;
    justify-content: space-between;
}

.logo__container {
    height: 100%;
    display: flex;
    align-items: center;

    /* background-color: #D885B6; */
}

.logo__icon {
    width: 60px;
    height: 60px;
    
    margin: 10px 0px;
}

.logo__icon img {
    image-rendering: optimizeSpeed;
}

.logo__title {
    font-size: 18px;
    font-family: 'Maiandra GD';
    color: #333;
    margin-left: 10px;
}

.header__search {
    display: flex;
}


.header__input {
    position: relative;

    width: 600px;
    height: 40px;
    margin: auto 0px;
    border-radius: 20px;  
    border: 1px solid #cbcbcb;  
    /* background-color: aquamarine; */

}

.header__input__icon__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    top: 9px;

    width: 20px;
    height: 20px;
    /* background-color: red; */
    
}

.header__input__container {
    overflow: hidden;
    position: relative;
    width: 520px;
    height: 38px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-search {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;

}

.header__input__clear {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    /* background-color: violet; */
    cursor: pointer;

}

.header__input__clear::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #333;
    transform: rotate(45deg);
}

.header__input__clear::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #333;
    transform: rotate(315deg);
}

.header__buttons {
    position: relative;
    height: 100%;
    /* background-color: aqua; */
}

.button__rounded {
    height: 50px;
    width: 50px;
    margin: 15px 0px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: #fff;

    transition: all 0.4s linear;  
}

.button__rounded + .button__rounded {
    margin-left: 15px;
}

.button__rounded:hover {
    border: 2px solid #f1f1f1;
    background-color: #fafafa;
}

.button__icon {
    width: 30px;
    height: 30px;
}

.header__narrow__content {
    display: none;
}

.narrow__account__container {
    font-family: 'Playfair Display';

    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;

    z-index: 1;
    width: 100%;
    height: auto;
    padding: 10px;

    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
}

.narrow__account__container p {
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.narrow__account__container img {
    width: 60px;
    height: 60px;

    margin: 0px 0px 5px 0px;

    border-radius: 50%;
}

#narrow__account__menu__nickname {
    color: #D885B6;
}

.narrow__account__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.logined {
    display: block;
    cursor: pointer;

    margin: 0px 0px 8px 0px;
}

.logined a {
    padding: 2px;
    color: #333;
}

.logined a:hover {
    background-color: #f1f1f1;
}

.narrow__account__menu a {
    display: block;
}

.narrow__account__menu button {
    cursor: pointer;
    font-size: 14px;

    background-color: #fff;
    
    padding: 4px 8px;
    border: 1px solid #EBC3DF;
    border-radius: 20px;
}

.narrow__account__menu button:hover { 
    background-color: #EBC3DF;
    color: #fff;
}

.narrow__account__menu__quit {

    color: #333;

}

.narrow__account__menu__quit:hover {
    color: #D885B6;
}




/* Underheader menu  */

.underheader__menu {
    display: table;
    max-width: 1200px;
    width: 100%;
    height: 40px;
    
    padding: 0px;
    margin: 0px auto;
    
    /* background-color: #f7f7f7; */
}

.underheader__menu__list {
    font-size: 16px;
    font-family: 'Playfair Display';

    margin: 8px 10px;
    padding: 0px;

    list-style: none;
    display: flex;
    justify-content: space-between;

}

.underheader__menu__list__item {
    text-decoration: none;


}

.underheader__menu__list__item:hover {
    color: #D885B6;
}







/* Slider content */

.slider__container {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EBC3DF;
}

.slider__main {
    display: flex;
}

.slider__main img {
    width: 100%;
    height: auto;
}

#prev-button {
    position: absolute;
    cursor: pointer;
    
    left: 20px;
    top: 50%;
    z-index: 10;
    
    font-size: 20px;
    opacity: 75%;
    color: #fff;
}

#next-button {
    position: absolute;
    cursor: pointer;

    right: 20px;
    top: 50%;
    z-index: 10;
    
    font-size: 20px;
    opacity: 75%;
    color: #fff;
}






/* Main content */

.main__shortcuts__container {
    width: 100%;
    max-width: 1200px;
    height: 140px;
    /* background-color: #fafafa; */
    
    padding: 0px 10px;
    margin: 40px auto;
    display: flex;

    
    justify-content: space-between;
    
}

.main__pillow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 140px;
    width: 140px;

    background-color: #fff;
    border-radius: 30px;
    border: 1px dashed #EBC3DF;
    cursor: pointer;

    transition: border 0.1s ease-in;
    
}   

.main__pillow:hover {
    border: 3px solid #EBC3DF;

}

.main__pillow img {
    width: 75px;
}

.main__pillow span {
    font: 12px 'Playfair Display';
    margin-top: 10px;
    color: #333;
    
}


.main__content__container {
    display: block;
    width: 100%;
    max-width: 1200px;

    margin: 80px auto 0px auto;
    padding: 0px 10px;
}   

.content__title {
    font-size: 28px;
    font-family: 'Playfair Display';
    
    margin: 0px 0px 0px 30px;

}







/* Products */

.product__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}

.product__card {
    width: calc(25% - 30px);
    
    height: auto;
    border-radius: 30px;
    cursor: pointer;
    
    margin-top: 20px;
    padding: 10px;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    /* background-color: gray; */
    
    transition: box-shadow 0.2s ease-in-out;
}

.product__card:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    
}

.product__card a {
    display: block;
}

.product__card a:hover {
    text-decoration: none;
    color: #333;   
}

.product__card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}

.product__card__content img {
    border-radius: 30px;
    width: 100%;
    height: auto;
}

.product__card__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px;

}

.product__card__price h1 {
    margin: 6px 0px 0px 0px;
    font-family: 'Montserrat';
    font-size: 22px;
}

.main__product__available {
    display: flex;
    align-items: center;
    
    font-family: 'Playfair Display';
    font-size: 12px;
    color: #333;
}

.main__product__available    img {
    margin-left: 10px;
    width: 8px;
}

#available {
    margin: 0px 0px 3px 5px;
}

#unavailable {
    color: #9c9c9c;
    margin: 0px 0px 3px 5px;
}

.product__card__title {
    margin: 2px 15px 0px 15px;

    font-family: 'Playfair Display';
    font-size: 12px;

    flex: 1 1 auto;
}

.card__rating {
    display: flex;
    align-items: flex-start;
}
.card__rating span {
    display: flex;
    margin: 3px 0px 0px 5px;


    color: #cbcbcb;
    font-family: 'Playfair Display';
    font-size: 11px;
}

.product__card__buttons {
    display: flex;
    justify-content: center;
    
}

.product__card__buy__btn {
    width: 100px;
    height: 32px;

    margin: 0px 15px;
    font-family: 'Playfair Display';
    
    
    font-size: 14px;
    background-color: #fff;
    color: #D885B6;
    border: 1px solid #D885B6;
    border-radius: 30px;

    transition: all 0.2s linear;
}


.product__card__buy__btn:hover {
    color:white;
    background-color: #D885B6;
}


.product__card__buy__btn-gray {
    width: 100px;
    height: 32px;
    margin: 0px 15px;

    
    background-color: #fff;
    color: #9c9c9c;
    border: 1px solid #9c9c9c;
    border-radius: 30px;

    transition: all 0.2s linear;
}

.product__card__addfavorite_btn {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 32px;
    height: 32px;

    color: #f1f1f1;
    
    transition: color 0.2s ease-in-out;
}

.product__card__addfavorite_btn:hover {
    color: #cdcdcd;
}






/* Рейтинг */

.card__rating {
    margin: 2px 15px 0px 15px;
    
}



.special__suggestions__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.special__suggestion {
    cursor: pointer;
    
    width: 360px;
    height: 120px;
    margin: 30px 5px 0px 5px;

    border-radius: 25px;
    background-color: #A3F7B5;

}







/* Footer */

.footer__container {
    display: table;
    width: 100%;
    height: 180px;

    margin-top: 100px;
    border-top: 1px solid #EBC3DF;
    
}

.footer__content__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0px auto;
    padding: 10px;

    /* background-color: #40C9A2; */
}

.footer__lists {
    display: flex;
    height: 100%;
}

.footer__list {
    list-style: none;
    text-decoration: none;
    font-family: 'Playfair Display';

    padding: 0px 0px 0px 10px;
}

.footer__list__title {
    color: #000;
    font-weight: 600;
}


.footer__list a {
    color: #333;
    font-size: 14px;

    transition: color 0.1s linear;
}

.footer__list a:hover {
    color: #D885B6;
}

.footer__contacts {
    height: 100%;
    margin-right: 32px;
}


.footer__contacts__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list li {
    color: #333;
    font-size: 14px;

    margin: 5px 0px 0px 0px; 
    transition: color 0.1s linear;
}

#telephones-number{
    font-family: 'Maiandra GD';
    font-size: 14px;   
}

.footer__copyright {
    font-family: 'Maiandra GD';
}

.product__representation__container {
    display: block;
    width: 100%;
    max-width: 1200px;

    margin: 10px auto 0px auto;
    padding: 10px 25px;
    
    /* background-color: bisque;    */
}

#way-to-here {
    width: 100%;
    height: auto;
    font-size: 12px;

    /* background-color: darkgoldenrod; */
}

.product__representation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.product__image__container {
    flex-shrink: 0;
    margin: 0px 20px 0px 0px;
    width: 460px;
    height: 460px;

    /* background-color:thistle; */
}

.product__image__container img {
    width: 100%;
    border-radius: 30px;
}

.product__data__container {
    display: flex;
    flex-direction: column;
    width: 100%; 

    
    
    /* background-color: brown; */
}

.product__title {
    /* flex: 1 1 auto; */

    font-family: 'Playfair Display';
    font-size: 28px;
    width: 100%;
    
}

.product__rating-and-code {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.product__rating {
    font-family: 'Playfair Display';
    font-size: 1;
    height: 30px;    
    width: 210px;
    /* background-color: beige; */

}

.product__code {
    font-family: "Montserrat";
    font-size: 14px;
    color: #CBCBCB;

    /* background-color: #A3F7B5; */
}


.product__price {
    font-family: 'Montserrat';
    font-size: 48px;
    
    margin: 30px 10px;
    line-height: 48px;

    /* background-color: cadetblue; */

}

.product__available {
    margin: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
}

.product__available img {
    width: 17px;
    height: auto;
}

.product__available span {
    font-size: 16px;
    font-family: 'Playfair Display';
    margin: 0px 0px 0px 10px;
}

.product__number__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 55px;
    margin: 10px 0px 0px 10px;

    border: 1px solid #9c9c9c;
    border-radius: 30px;

    font-family: 'Montserrat';
    font-size: 24px;
}

#minus-product {
    position: absolute;
    cursor: pointer;
    left: 15px;
}


#plus-product {
    position: absolute;
    cursor: pointer;
    right: 15px;
}

#product-number {
    cursor:default;
}

.product__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 30px 10px 0px 10px;

    font-family: 'Playfair Display';
    font-size: 18px;

    background-color: #fff;
}

#add-to-cart-btn {
    width: 160px;
    height: 55px;

    border: none;
    border-radius: 30px;

    color: #fff;
    background-color: #D885B6;

    transition: box-shadow 0.2s ease-in-out;
    
}

#add-to-cart-btn:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

#add-to-favorite-btn {
    width: 200px;
    height: 55px;

    border: 1px solid #9c9c9c;
    border-radius: 30px;

    color: #333;
    background-color: #fff;
    
    transition: box-shadow 0.3s ease-in-out;
    /* transition: border 0.9s linear; */
}

#add-to-favorite-btn:hover {
    color: #F55F5F;
    border-color: #F55F5F;
    box-shadow: 0px 0px 8px rgba(245, 95, 95, 0.5);
}

#add-to-favorite-narrow-btn {
    display: none;

    margin: 0px 0px 0px 20px;
    font-size: 30px;
}


.product__about {
    position: relative;

    width: 100%;
    height: auto;
    
    margin: 40px 0px 0px 0px;
    padding: 5px 0px;
        
    font-family: 'Playfair Display';
}

.product_headliner {
    font-size: 20px;
    margin: 0px 0px 0px 25px;
    
    color: #333;
}

.product__about p {
    font-size: 16px;
    margin: 5px 0px 0px 0px;

    color: #9c9c9c;
}

.product__reviews__container {
    margin: 40px 0px 0px 0px;
    
    font-family: 'Playfair Display';
}

.review__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#add-review-btn {
    font-size: 18px;
    
    width: 200px;
    height: 50px;
    margin: 0px 0px 0px 20px;

    background-color: #40C9A2;
    color: #fff;
    border: none; 
    border-radius: 25px;

    transition: box-shadow 0.2s ease-in-out;

}

#add-review-btn:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.review__container {
    display: flex;
    
    min-height: 140px;
    height: auto; 
    width: 100%;   
    padding: 20px;
    margin: 20px 0px 0px 0px;

    border: 1px solid #707070;
    border-radius: 30px;
}

.user__review__image {   
    border-radius: 50%;

    width: 90px;
    height: 90px;
}

.review__data {
    width: 100%;
    margin: 0px 0px 0px 20px;
}

.review__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__left__side {
    display: flex;
    flex-wrap: wrap;
}

.reviewer__name {
    font-weight: 600;    
}

.reviewer__name a {
    color:#333;

    transition: color 0.2s ease-in-out;
}

.reviewer__name a:hover {
    color: #D885B6;
}

.reviewer__mark {
    margin: 0px 0px 0px 20px;
}

.review__date {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #9c9c9c;
}

.review__text {
    font-size: 16px;
    margin: 15px 0px 0px 0px;
}

.zero__style {
    border: none;
    background-color: #fff;
}








/* Sign-in и Sign-up странички */

.sign-in__container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Playfair Display';
    
    /* background-color: #40C9A2; */
}

.sign-in__block {
    display: table;
    min-width: 300px;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
    border-radius: 30px;

    background-color: #fff;
}

.sign-in__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    width: 100%;
    height: 100%;

    padding: 15px;
}

.sign-in__logo div {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    
}

.sign-in__logo font {
    font-family: 'Maiandra GD';
    font-size: 20px;
    color: #333;

    margin: 10px 0px 0px 0px;
}

.sign-in__logo img {
    width: 70px;
    height: 70px;
    
}   

.sign-in__title {
    font-size: 32px;
    font-weight: 400;
    margin: 20px 0px 40px 0px;
}

.login-password__container {
    display: flex;    
    flex-direction: column;

    align-items: center;
    
}

.access__input {
    width: 260px;
    height: 40px;
    
    border: 1px solid #cdcdcd;
    border-radius: 12px;
    padding: 0px 10px 0px 10px; 

    transition: border 0.2s ease-in-out;
    
}

.access__input + .access__input{
    margin: 15px 0px 0px 0px;   
}

.access__input input {
    font-size: 16px;
    line-height: 16px;

    width: 100%;
    height: 100%;
    

    border: none;
}

.btn__and__ask {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.low-asking__text{
    display: block;

    margin: 30px 0px 0px 0px;

    color: #707070;
    text-align: center;
}

.low-asking__text a {
    color: #D885B6;
}

.low-asking__text a:hover {
    text-decoration: underline solid;
}

.login__btn {
    font-size: 18px;
    cursor: pointer;
    
    width: 140px;
    height: 50px;
    margin: 30px 0px 0px 0px;

    border: 1px solid #EBC3DF;
    border-radius: 25px;
    background-color: #fff;
    
    transition: color 0.2s linear;
    transition: background-color 0.1s linear;
    
}

.login__btn:hover {
    background-color: #EBC3DF;
    color: #fff;
}

.login__btn:active {
    background-color: #D885B6;
    color: #fff;
}

.registration__container {
    display: flex;    
    flex-direction: column;

    align-items: center;
}

.registration__btn {
    font-size: 18px;
    cursor: pointer;
    
    width: 200px;
    height: 50px;
    margin: 30px 0px 0px 0px;

    border: 1px solid #EBC3DF;
    border-radius: 25px;
    background-color: #fff;
    
    transition: color 0.2s linear;
    transition: background-color 0.1s linear;
    
}

.registration__btn:hover {
    background-color: #EBC3DF;
    color: #fff;
}

.registration__btn:active {
    background-color: #D885B6;
    color: #fff;
}


.user__container {
    display: table;
    
    width: 100%;
    max-width: 1200px;
    
    /* border: 1px solid #40C9A2; */
    margin: 30px auto 0px auto;
    padding: 0px 10px;

    font-family: 'Playfair Display';
}

.user__container__content {
    display: flex;
    flex-direction: column;
    
    /* border: 1px solid black; */

}

.user__data__container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 140px;
    padding: 0px 15px;
    border-radius: 25px;
}

.user__data__container img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
}

.user__info {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
  
}

.user__info h3 {
    font-size: 24px;
    margin: 0px 0px 10px 0px;
}

.user__info span {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}

.user__info a {
    font-size: 14px;
}

.user__info a:hover {
    color: #D885B6;
}

.user__pillows {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;

    margin: 30px 0px 0px 0px;
    width: 100%;
}

.user__pillow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;

    height: 200px;
    width: 100%;
    max-width: calc(33% - 10px);
    min-width: 300px;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    

    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

    transition: box-shadow 0.4s ease-in-out;
} 

.user__pillow:last-child {
    margin: 0px 0px 0px 0px;
}

.user__pillow:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.user__pillow img {
    width: 60px;
    height: 60px;

    margin: 0px 0px 0px 0px;
}

.user__pillow p {
    font-weight: 600;
    font-size: 18px;

    margin: 0px 0px 0px 0px;
}

.pillow__highlighter {
    margin: 0px 0px 0px 10px;
    font-size: 18px;

    color: #D885B6;
}

.favorite__pillow {
    color: #333;

    box-shadow: 0px 0px 4px rgba(245, 95, 95, 0.5);
}

.favorite__pillow:hover {
    box-shadow: 0px 0px 15px rgba(245, 95, 95, 0.5);
}

.user__pillow__small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;

    height: 100px;
    width: 100%;
    max-width: calc(25% - 10px);
    min-width: 100px;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    

    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

    transition: box-shadow 0.4s ease-in-out;
}

.user__pillow__small:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.user__pillow__small p {
    margin: 0px;   
}

.small__pillow__text {
    color: #cbcbcb ;
}



@media (max-width: 1200px) {
    .header__search {
        display: none;
    }

    .header__narrow__content {
        display: flex;
        width: 100%;
        height: 50px;
        padding: 0px 10px;

        /* background-color: beige; */
    }

    
    .header__input {
        position: relative;
 
        width: 100%;
        height: 40px;
        margin: 5px auto;
        border-radius: 20px;  
        border: 1px solid #cbcbcb;  
        /* background-color: aquamarine; */

    }
    
    .header__input__container {
        overflow: hidden;
        position: relative;
        width: calc(100% - 80px);
        height: 38px;
        left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #input-narrow-search {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
    
    }

    .underheader__menu {
        display: none;
    }

    .header__narrow__menu__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: relative;
        width: 120px;
        margin: 5px 10px 5px 0px;

        color: #333;
        border: 0px solid #fff;
        border-radius: 25px;

        transition: all 0.4s linear;
        cursor: pointer;

        font-family: 'Playfair Display';
    }

    .header__narrow__menu__btn:hover {
        border: 2px solid #f1f1f1;
        background-color: #fafafa;
    }

    .header__narrow__menu__btn img {
        width: 20px;
        margin-right: 5px;
    }

    .product__container {
        justify-content: space-around;
        width: 100%;
    }
    .product__card {
        width: auto;
        max-width: calc(33% - 30px);
        height: auto;
        
    }

    .special__suggestions__container {
        justify-content: space-around;
    }


    .product__image__container {
        /* flex-shrink: 0; */
        margin: 0px 20px 0px 0px;
        width: 400px;
        height: 400px;
    
        /* background-color:thistle; */
    }


}

@media (max-width: 970px) {
    .user__pillow {
        height: 160px;
        max-width: calc(50% - 10px);
        min-width: 300px;

    }
    .user__pillow:last-child {
        margin: 10px 0px 0px 0px;
        max-width: 100%;
    }

    .user__pillow:nth-child(2) {
        margin: 0px 0px 0px 0px;
    }

}

@media (max-width: 890px) {
    .main__shortcuts__container {
        width: 100%;
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .main__pillow {
        margin: 20px 40px;
    }

    .product__card {
        width: auto;
        max-width: calc(50% - 10px);
        height: auto;

    }

    .product__representation {
        flex-wrap: wrap;
    }

        
    .product__image__container {
        flex-shrink: 0;
        margin: 0px auto 0px auto;
        width: 90%;
        height: auto;

    }


}

@media (max-width: 640px) {
    .user__pillow {
        height: 100px;
        max-width: calc(50%-10px);
        min-width: 150px;

        margin: 0px 5px 0px 0px;

    }
    .user__pillow:last-child {
        margin: 10px 0px 0px 0px;
    }
    .user__pillow img {
        width: 40px;
        height: 40px;
    
        margin: 0px 0px 0px 0px;
    }
    
    .user__pillow p {
        font-weight: 600;
        font-size: 16px;
    
        margin: 0px 0px 0px 0px;
    }

    .user__pillow__small {
        height: 80px;

        padding: 10px;
    }

    .small__pillow__text {
        font-size: 12px;
    }

    .user__pillow__small {
        font-size: 12px;
    }

}

@media (max-width: 575px) {
    .product__card {
        width: auto;
        max-width: 100%;
        height: auto;

    }

    .product__image__container {
        width: 100%;
    }

    .product__title {
        font-size: 24px;        
    }

    .user__review__image {
        width: 60px;        
        height: 60px;        
    }

}

@media (max-width: 500px) {

    .logo__title {
        display: none;
    }

    .main__pillow {
        margin: 20px 5px;
    }

    .product__title {
        font-size: 18px;        
    }    

    .product__price {
        font-size: 34px;
    }

    .user__review__image {
        width: 40px;
        height: 40px;
    }

    .reviewer__name {
        font-size: 14px;
        width: 100%;
    }
    
    .reviewer__mark {
        font-size: 14px;
        margin: 0px 0px 0px 0px;
    }
    
    .review__text {
        font-size: 14px;
        
    }
    
    .review__date {
        font-size: 12px;
    }
    
    #add-review-btn {
        width: 160px;
        height: 50px;
        font-size: 16px;
    }

    .user__pillow {
        padding: 10px;
    }

    .user__pillow p {
        font-weight: 600;
        font-size: 14px;
    
        margin: 0px 0px 0px 0px;
    }

    .user__pillow__small {
        min-width: 80px;
        max-width: calc(50% - 10px);
    }

    .user__pillow__small:nth-child(3)
    {
        margin-top: 10px;
    }

    .user__pillow__small:nth-child(4)
    {
        margin-top: 10px;
    }

    .small__pillow__text {
        font-size: 10px;
    }
    
    .pillow__highlighter {
        margin: 0px 0px 0px 5px;
        font-size: 12px;
    }



}

@media (max-width: 430px){
    #add-to-favorite-btn {
        display: none;
    }

    #add-to-favorite-narrow-btn {
        display: block;
    }

    .hidden__menu__container {
        width: 100%;
    }
        
    .user__data__container img {
        width: 100px;
        height: 100px;
    }

    .user__info h3 {
        font-size: 20px;
    }

    .user__info span {
        font-size: 12px;
    }

    .user__info a {
        font-size: 12px;
    }

    .user__pillow {
        min-width: 120px;
    }

    .user__pillow img {
        display: none;
    }
}

